[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Path.Analysis"]
	path = Path.Analysis
	url = https://github.com/cran/Path.Analysis
[submodule "rYWAASB"]
	path = rYWAASB
	url = https://github.com/cran/rYWAASB
